!.vscode/extensions.json
!.vscode/settings.json
*.bak
*.egg-info/
*.log
*.py[cod]
*.retry
*.swo
*.swp
*~
.AppleDouble
.DS_Store
.LSOverride
._*
.ansible-lint-cache/
.ansible/
.cache/
.idea/
.molecule/
.mypy_cache/
.pytest_cache/
.tox/
.vault-password*
.vault_pass*
.venv/
.vscode/*
Desktop.ini
Thumbs.db
__pycache__/
collections/ansible_collections/
ehthumbs.db
vault-password*
venv/
zzz.diff
